/* .Customize{
    border-top-left-radius:30px ;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 20px;
    grid grid-cols-1 sm:grid-cols-2 md:grid-col-1 gap-4
} */

